.notifications {
    padding: 20px;
  }
  
  .notifications h2 {
    margin-bottom: 20px;
  }
  
  .notifications ul {
    list-style: none;
    padding: 0;
  }
  
  .notifications li {
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #000000;
  }
  
  .notifications li.unread {
  }
  
  .notifications button {
    margin-top: 10px;
  }
  

  .message{
    display: flex;
    justify-content: center;
    align-items: center;
  }