.commentCard{
    border: 1px solid black;
    padding: 30px;
    margin: 17px 0;
}

.replyCard{
    margin-left: 60px;
}



.commentCard p {
    min-width: 500px;
    word-break: break-all;
    height: auto;
}