

.tweet-box {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 3px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.389);
  color: #000000;
  animation: mymove 5s infinite;
}
.tweet-body-text p{
  font-size: 6rem;
    text-wrap: wrap;

  }
  .tweet-header {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
  }

  .tweet-user-image {
    border-radius: 100px;
    width: 48px;
    margin-right: 15px;
  }

  .tweet-user-name {
    font-size: 16px;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
  }

  .grey {
    color: #000000;
  }

  .tweet-body-image {
    margin-top: 20px;
    padding: 0 60px;
  }

  .tweet-body-image img {
    max-width: 100%;
  }




 
  .tweet-reaction {
    padding: 0 60px;
    margin-top: 20px;
  }

  .tweet-reaction div {
     display: inline-block;
  }

  .tweet-reaction svg {
    width: 20px;
    height: 20px;
    fill: rgb(0, 0, 0);
  }

  .tweet-reaction .count {
    color: rgb(0, 0, 0);
    display: inline;
    padding-left: 3px;
  }

  .mover {
    margin-left: 5%;
  }


